<div class="h-screen w-full flex flex-col justify-center items-center bg-fuchsia-100 mt-16 p-8">

  <h1 class="text-5xl font-bold text-center mb-8 mt-8">
    Happy travelers
  </h1>

  <div class="impressions flex flex-row justify-center items-center flex-wrap px-16 w-11/12">

    <div class="impression_container flex flex-row items-center w-1/2 relative h-1/2">
      <div class="impression_photo w-1/2">
        <img [ngSrc]="image" alt="human_photo" class="avatar rounded-full float-left" height="100" width="100">
      </div>
      <div class="impression_text text-wrap  mt-16 mb-32 font-extralight">
        <p>TabiTabi made planning my trip so easy! I loved the swipe feature – it was fun and efficient.
          I found the perfect beach getaway in Bali.</p>
        <h5>ALex</h5>
        <h6>Bali trip planer</h6>
      </div>
    </div>

    <div class="impression_container flex flex-row items-center w-1/2">
      <div class="impression_photo w-1/2">
        <img [ngSrc]="image" alt="human_photo" class="avatar rounded-full float-left" height="100" width="100">
      </div>
      <div class="impression_text text-wrap  mt-16 mb-32 font-extralight">
        <p>I'm not usually one for planning, but Tabi Tabi made it simple.
          I found an amazing hiking trip in the Alps that matched my fitness level perfectly.</p>
        <h5>Maria</h5>
        <h6>Alps hiking trip</h6>
      </div>
    </div>

    <div class="impression_container flex flex-row items-center w-1/2">
      <div class="impression_photo w-1/2">
        <img [ngSrc]="image" alt="human_photo" class="avatar rounded-full float-left" height="100" width="100">
      </div>
      <div class="impression_text text-wrap  mt-16 mb-32 font-extralight">
        <p>I was overwhelmed by travel options before using Tabi Tabi. Now, I've booked a city break in Rome, and I'm so
          excited!</p>
        <h5>David</h5>
        <h6>Rome city break</h6>
      </div>
    </div>

    <div class="impression_container flex flex-row items-center w-1/2">
      <div class="impression_photo w-1/2">
        <img [ngSrc]="image" alt="human_photo" class="avatar rounded-full float-left" height="100" width="100">
      </div>
      <div class="impression_text text-wrap  mt-16 mb-32 font-extralight">
        <p>This app is a game changer! I found a secluded cabin in the woods that was exactly what I needed for a
          relaxing
          escape.</p>
        <h5>Sarah</h5>
        <h6>Cabin Gateway</h6>
      </div>
    </div>
  </div>
</div>
