<div (@cardAnimator.done)="resetAnimationState($event)"
     (swipeleft)='startAnimation("swipeleft")'
     (swiperight)='startAnimation("swiperight")'
     [@cardAnimator]="animationState"
     class="place_card"
>
  <img [src]="places[index].imageUrl" alt="Travel spot Photo" class="place_photo" title="photo"/>
  <div class="place_name">{{ places[index].name }}, <span class="age">{{places[index].description}}</span></div>
  <div class="place_info"><i aria-hidden="true" class="fa fa-book"> {{places[index].rating}}</i><i aria-hidden="true" class="fa fa-users">
    {{places[index].userTotal}}</i>
  </div>
</div>
