
.bg {
  overflow-x: hidden;
}

.bg {
  align-self: center;
  height: 720px;
  width: 500px;
  background-color: #fff;
  margin: 0 auto;
  border: 1px solid #c0c0c0;
}

.bgwrap {
  padding: 10px;
}

.controls {
  padding: 50px;
  /*display: flex;*/
  /*flex-direction: row;*/
  /*align-self: center;*/
}

.no {
  margin: 10px;
  background-color: #fff;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  position: relative;
  display: inline-block;
  top: 50px;
  left: 25px;
  border: 10px solid #f0f0f0;
}

.no i {
  border-color: silver;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  color: #ff695b;
  font-size: 80px;
  padding: 17px 28px;
}

.info {
  margin: 10px;
  background-color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  position: relative;
  display: inline-block;
  left: 12px;
  top: 30px;
  border: 10px solid #f0f0f0;
}

.info .fa-info {
  border-color: silver;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  font-size: 23px;
  padding: 15px 20px;
  color: #398beb;
}

.yes {
  margin: 10px;
  background-color: #fff;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  position: relative;
  display: inline-block;
  top: 48px;
  left: 0px;
  border: 10px solid #f0f0f0;
}

.yes i {
  border-color: silver;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  color: #5de19c;
  font-size: 60px;
  padding: 35px 30px;
}

