<div class="mx-auto w-full p-6 bg-fuchsia-50 h-screen flex flex-col justify-center items-center">
  <h1 class="text-5xl font-bold text-center mb-8">Our Advantages</h1>
  <p class="text-3xl text-gray-700 leading-relaxed text-center text-wrap w-1/2 mt-16 mb-32 font-extralight">Discover why
    <span>Tabi
    Tabi</span>
    stands out
    from
    the
    rest. We
    focus on
    delivering an enjoyable, efficient, and budget-friendly travel planning experience through intuitive design, smart
    recommendations, and great value.</p>
  <div class="grid gap-8 md:grid-cols-3">
    <div class="p-6 bg-white shadow-md rounded-lg text-center">
      <h2 class="text-xl font-semibold mb-4">UI/UX</h2>
      <p class="text-gray-700 leading-relaxed text-justify text-lg">
        Enjoy a smooth, intuitive, and beautiful interface designed to make your travel discovery effortless. Swipe,
        explore, and get inspired with ease.
      </p>
    </div>
    <div class="p-6 bg-white shadow-md rounded-lg text-center">
      <h2 class="text-xl font-semibold mb-4">Recommendations</h2>
      <p class="text-gray-700 leading-relaxed  text-justify text-lg">
        Our smart suggestion engine curates destinations based on your preferences, ensuring you find places that match
        your mood, style, and interests.
      </p>
    </div>
    <div class="p-6 bg-white shadow-md rounded-lg text-center">
      <h2 class="text-xl font-semibold mb-4">Price</h2>
      <p class="text-gray-700 leading-relaxed  text-justify text-lg">
        Travel within your budget! Get instant cost estimates and find tours and experiences that fit your financial
        comfort zone.
      </p>
    </div>
  </div>
</div>
