<div class="container mx-auto">
  <h1 class="text-5xl font-bold text-center mt-32 mb-8">Start planning</h1>
  <h2 class="text-3xl text-gray-700 leading-relaxed text-center text-wrap mt-16 mb-8 font-extralight">create a
    profile, browse destinations, save favorites, and start booking your dream vacation. simple steps for a
    perfect trip.</h2>
</div>
<div class="timeline">
  <div class="timeline-item mb-6 mt-6">
    <div class="timeline-number  text-black"><p class="number">1</p></div>
    <div class="timeline-content">
      <h2 class="text-bold text-2xl">Create profile</h2>
      <p>Share your travel preferences: budget, travel style, destinations.</p>
    </div>
  </div>

  <div class="timeline-item mb-6 mt-6">
    <div class="timeline-number text-black"><p class="number">2</p></div>
    <div class="timeline-content">
      <h2 class="text-bold text-2xl">Browse destinations</h2>
      <p>Swipe through travel spots; like what you see, dislike what you don't.</p>
    </div>
  </div>

  <div class="timeline-item mb-6 mt-6">
    <div class="timeline-number  text-black"><p class="number">3</p></div>
    <div class="timeline-content">
      <h2 class="text-bold text-2xl">Match & explore</h2>
      <p>View destinations tailored to your preferences; explore details & photos.</p>
    </div>
  </div>
  <div class="timeline-item mb-6 mt-6">
    <div class="timeline-number  text-black"><p class="number">4</p></div>
    <div class="timeline-content">
      <h2 class="text-extrabold text-2xl">Book your trip</h2>
      <p>Secure your perfect getaway with integrated booking options.</p>
    </div>
  </div>
</div>
