@import "tailwindcss";

:root {
  --primary-bg: #f6e6ff;
  --secondary-bg: rgb(169, 164, 178);
  --text-color-light: white;
  --text-color-dark: black;
}

body {
  margin: 1rem;
  padding: 1rem;
}

a {
}

.card {
  background-color: var(--primary-bg);
  border-radius: 10px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

button {
  background-color: var(--primary-bg);
  color: var(--text-color-dark);
  border: none;
  padding: 0 60px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 30px;
}
