<section class="how-it-works">
  <div class="text-box">
    <h2>How it works</h2>
    <p>
      Effortlessly discover your ideal travel destination with our intuitive app. A swipe-based interface lets you
      quickly browse travel spots matching your preferences – beaches, cities, mountains, and more. Find your perfect
      adventure with ease!
    </p>
  </div>
  <div class="image-box">
    <img alt="Maps showing travel spots" height="1119" ngSrc="/assets/images/maps.jpg" width="1680">
  </div>
</section>
